.btn_to_home{
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  text-decoration: none;
  color: #FFF;
  background-color: rgb(38, 207, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}